### abs

abs(x)는 어떤 숫자를 입력으로 받았을 때, 그 숫자의 절대값을 돌려주는 함수이다.

In [1]:
abs(3)

3

In [2]:
abs(-3)

3

In [3]:
abs(-1.2)

1.2

### all

all(x)은 반복 가능한(iterable) 자료형 x를 입력 인수로 받으며, 이 x의 모든 요소가 참이면 True, 거짓이 하나라도 있으면 False를 리턴한다.

※ 반복 가능한 자료형이란 for문으로 그 값을 출력할 수 있는 것을 의미한다. 리스트, 튜플, 문자열, 딕셔너리, 집합 등이 있다.

In [4]:
all([1, 2, 3])

True

리스트 자료형 [1, 2, 3]은 모든 요소가 참이므로 True를 리턴한다.

In [5]:
all([1, 2, 3, 0])

False

리스트 자료형 [1, 2, 3, 0] 중에서 요소 0은 거짓이므로 False를 리턴한다.

### any

any(x)는 x중 하나라도 참이 있을 경우 true를 리턴하고 x가 모두 거짓일 경우에만 false를 리턴.

In [6]:
any([1,2,3,0])

True

In [7]:
any([0, ""])

False

### chr

chr(i)는 아스키(ASCII) 코드값을 입력으로 받아 그 코드에 해당하는 문자를 출력하는 함수이다.
※ 아스키 코드란 0에서 127 사이의 숫자들을 각각 하나의 문자 또는 기호에 대응시켜 놓은 것이다.

In [8]:
chr(97)

'a'

In [9]:
chr(48)

'0'

### dir

dir은 객체가 자체적으로 가지고 있는 변수나 함수를 보여 준다. 아래 예는 리스트와 딕셔너리 객체의 관련 함수들(메서드)을 보여 주는 예이다. 우리가 02장에서 살펴보았던 자료형 관련 함수들을 만나볼 수 있을 것이다.

In [10]:
dir([1, 2, 3])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [11]:
dir({'1':'a'})

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

### divmod

divmod(a, b)는 2개의 숫자를 입력으로 받는다. 그리고 a를 b로 나눈 몫과 나머지를 튜플 형태로 리턴하는 함수이다.

In [12]:
divmod(7, 3)

(2, 1)

In [13]:
#몫을 구하는 연산자 //와 나머지를 구하는 연산자 %와 비교
print(7 // 3)
print(7%3)

2
1

### eumerate

enumerate는 "열거하다"라는 뜻이다. 이 함수는 순서가 있는 자료형(리스트, 튜플, 문자열)을 입력으로 받아 인덱스 값을 포함하는 enumerate 객체를 리턴한다.
※ 보통 enumerate 함수는 아래 예제처럼 for문과 함께 자주 사용된다.

In [14]:
for i, name in enumerate(['body', 'foo', 'bar']):
    print(i, name)

0 body
1 foo
2 bar

순서값과 함께 body, foo, bar가 순서대로 출력되었다. 즉, 위 예제와 같이 enumerate를 for문과 함께 사용하면 자료형의 현재 순서(index)와 그 값을 쉽게 알 수 있다.
for문처럼 반복되는 구간에서 객체가 현재 어느 위치에 있는지 알려주는 인덱스 값이 필요할때 enumerate 함수를 사용하면 매우 유용하다.

### eval

eval(expression)은 실행 가능한 문자열(1+2, 'hi' + 'a' 같은 것)을 입력으로 받아 문자열을 실행한 결과값을 리턴하는 함수이다.

In [15]:
eval('1+2')

3

In [16]:
eval("'lu' + 'lu'")

'lulu'

In [17]:
eval('divmod(4, 3)')

(1, 1)

### filter

filter란 무엇인가를 걸러낸다는 뜻으로, filter 함수도 동일한 의미를 가진다. filter 함수는 첫 번째 인수로 함수 이름을, 두 번째 인수로 그 함수에 차례로 들어갈 반복 가능한 자료형을 받는다. 그리고 두 번째 인수인 반복 가능한 자료형 요소들이 첫 번째 인수인 함수에 입력되었을 때 리턴값이 참인 것만 묶어서(걸러내서) 돌려준다.

In [18]:
def positive(l):
    result=[]
    for i in l :
        if i>0:
            result.append(i)
    return result

print(positive([1,-3,2,0,-5,6]))

[1, 2, 6]

즉, 위에서 만든 positive 함수는 리스트를 입력값으로 받아 각각의 요소를 판별해서 양수값만 리턴하는 함수이다.
filter 함수를 이용하면 위의 내용을 아래와 같이 간단하게 작성할 수 있다.

In [19]:
def positive(x):
    return x > 0

print(list(filter(positive, [1, -3, 2, 0, -5, 6])))

[1, 2, 6]

여기서는 두 번째 인수인 리스트의 요소들이 첫 번째 인수인 positive 함수에 입력되었을 때 리턴값이 참인 것만 묶어서 돌려준다. 앞의 예에서는 1, 2, 6만 양수여서 x > 0 이라는 문장이 참이 되므로 [1, 2, 6]이라는 결과값을 리턴하게 된 것이다.

앞의 함수는 lambda를 이용하면 더욱 간편하게 코드를 작성할 수 있다.

In [20]:
list(filter(lambda x: x > 0, [1, -3, 2, 0, -5, 6]))

[1, 2, 6]

### hex

hex(x)는 정수값을 입력받아 16진수(hexadecimal)로 변환하여 리턴하는 함수이다.

### id

id(object)는 객체를 입력받아 객체의 고유 주소값(레퍼런스)을 리턴하는 함수이다.

In [21]:
a=3
id(3)

4331644080

In [22]:
id(a)

4331644080

In [23]:
b=a
id(b)

4331644080

위 예의 3, a, b는 고유 주소값이 모두 135072304이다. 즉, 3, a, b가 모두 같은 객체를 가리키고 있음을 알 수 있다.

만약 id(4)라고 입력하면 4는 3, a, b와 다른 객체이므로 당연히 다른 고유 주소값이 출력된다.

In [24]:
id(4)

4331644112

### input

input([prompt])은 사용자 입력을 받는 함수이다. 입력 인수로 문자열을 주면 아래의 세 번째 예에서 볼 수 있듯이 그 문자열은 프롬프트가 된다.

In [25]:
a=input()

hi

In [26]:
a

'hi'

In [27]:
b=input("Enter: ")

Enter: hi

In [28]:
b

'hi'

### int

int(x)는 문자열 형태의 숫자나 소수점이 있는 숫자 등을 정수 형태로 리턴하는 함수로, 정수를 입력으로 받으면 그대로 리턴한다.

In [29]:
int('3')

3

In [30]:
int(3.4)

3

int(x, radix)는 radix 진수로 표현된 문자열 x를 10진수로 변환하여 리턴한다.

2진수로 표현된 '11'의 10진수 값은 다음과 같이 구한다.

In [31]:
int('11', 2)

3

16진수로 표현된 '1A'의 10진수 값은 다음과 같이 구한다.

In [32]:
int('1A', 16)

26

### isinstance

isinstance(object, class)는 첫 번째 인수로 인스턴스, 두 번째 인수로 클래스 이름을 받는다. 입력으로 받은 인스턴스가 그 클래스의 인스턴스인지를 판단하여 참이면 True, 거짓이면 False를 리턴한다.

In [33]:
class Person: pass
a = Person()
isinstance(a, Person)

True

위의 예는 a가 Person 클래스에 의해서 생성된 인스턴스임을 확인시켜 준다.

In [35]:
b=3
isinstance(b, Person)

False

b는 Person 클래스에 의해 생성된 인스턴스가 아니므로 False를 리턴한다.

### len

len(s)은 입력값 s의 길이(요소의 전체 개수)를 리턴하는 함수이다.

In [36]:
len("python")

6

In [37]:
len([1,2,3])

3

In [38]:
len((1, 'a'))

2

### list

list(s)는 반복 가능한 자료형 s를 입력받아 리스트로 만들어 리턴하는 함수이다.

In [39]:
list("python")

['p', 'y', 't', 'h', 'o', 'n']

In [40]:
list((1,2,3))

[1, 2, 3]

list 함수에 리스트를 입력으로 주면 똑같은 리스트를 복사하여 돌려준다.

In [41]:
a=[1,2,3]
b=list(a)
b

[1, 2, 3]

### map

map(f, iterable)은 함수(f)와 반복 가능한(iterable) 자료형을 입력으로 받는다. map은 입력받은 자료형의 각 요소가 함수 f에 의해 수행된 결과를 묶어서 리턴하는 함수이다.

In [42]:
def two_times(numberlist):
    result=[]
    for number in numberlist:
        result.append(number*2)
    return result

result = two_times([1,2,3,4])
print(result)

[2, 4, 6, 8]

위의 예제는 map 함수를 이용하면 다음처럼 바꿀 수 있다.

In [43]:
def two_times(x):
    return x*2

list(map(two_times, [1,2,3,4]))

[2, 4, 6, 8]

이제 앞 예제를 해석해 보자. 먼저 리스트의 첫 번째 요소인 1이 two_times 함수의 입력값으로 들어가고, 1 * 2의 과정을 거쳐서 2가 된다. 다음으로 리스트의 두 번째 요소인 2가 2 * 2의 과정을 거쳐 4가 된다. 따라서 결과값 리스트는 이제 [2, 4]가 된다. 총 4개의 요소값이 모두 수행되면 최종적으로 [2, 4, 6, 8]이 리턴된다. 이것이 map 함수가 하는 일이다.

앞의 예는 lambda를 사용하면 다음처럼 간략하게 만들 수 있다.

In [44]:
list(map(lambda a: a*2, [1, 2, 3, 4]))

[2, 4, 6, 8]

### max

max(iterable)는 인수로 반복 가능한 자료형을 입력받아 그 최대값을 리턴하는 함수이다.

In [45]:
max([1,2,3])

3

In [46]:
max('python')

'y'

### min

min(iterable)은 max 함수와 반대로, 인수로 반복 가능한 자료형을 입력받아 그 최소값을 리턴하는 함수이다.

In [47]:
min([1,2,3])

1

In [48]:
min('python')

'h'

### oct

oct(x)는 정수 형태의 숫자를 8진수 문자열로 바꾸어 리턴하는 함수이다.

In [49]:
oct(24)

'0o30'

In [50]:
oct(12345)

'0o30071'

### open

open(filename, [mode])은 "파일 이름"과 "읽기 방법"을 입력받아 파일 객체를 리턴하는 함수이다. 읽기 방법(mode)이 생략되면 기본값인 읽기 전용 모드(r)로 파일 객체를 만들어 리턴한다.

w:쓰기 모드로 파일 열기
r:읽기 모드로 파일 열기
a:추가 모드로 파일 열기
b:바이너리 모드로 파일 열기

b는 w, r, a와 함께 사용된다.

f = open("binary_file", "rb")

위 예의 rb는 "바이너리 읽기 모드"를 의미한다.

+모드 부분이 생략되면 기본값으로 읽기 모드인 r을 갖게 된다.

### ord

ord(c)는 문자의 아스키 코드값을 리턴하는 함수이다.

ord 함수는 chr 함수와 반대이다.

In [51]:
ord('a')

97

In [52]:
ord('0')

48

### pow

pow(x, y)는 x의 y 제곱한 결과값을 리턴하는 함수이다.

In [53]:
pow(2,4)

16

In [54]:
pow(3,3)

27

### range

함수는 입력받은 숫자에 해당되는 범위의 값을 반복 가능한 객체로 만들어 리턴한다.

1)인수가 하나일 경우

시작 숫자를 지정해 주지 않으면 range 함수는 0부터 시작한다.

In [55]:
range(5)

range(0, 5)

In [56]:
list(range(5))

[0, 1, 2, 3, 4]

2)인수가 두개일 경우
입력으로 주어지는 2개의 인수는 시작과 끝 숫자를 나타냄. 단, 끝 숫자는 해당 범위에 포함되지 않고
그보다 하나 작은 숫자까지만 범위에 포함됨

In [57]:
list(range(5,10))

[5, 6, 7, 8, 9]

3)인수가 3개일 경우-
세 번째 인수는 숫자 사이의 거리를 말함

In [58]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [59]:
list(range(0,-10,-1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

### round

round(number[, ndigits]) 함수는 숫자를 입력받아 반올림 해 주는 함수

In [60]:
round(4.6)

5

In [61]:
round(4.2)

4

만약 5.678 라는 실수를 소수점 2자리까지만 반올림하여 표시하고 싶다면 다음과 같이 사용할 수 있다.

In [62]:
round(5.678,2)

5.68

round 함수의 두번째 파라미터는 반올림하여 표시하고 싶은 소수점의 자리수(ndigits)이다.

### sorted

sorted(iterable) 함수는 입력값을 정렬한 후 그 결과를 리스트로 리턴하는 함수이다.

In [63]:
sorted([3,1,2])

[1, 2, 3]

In [64]:
sorted(['a','c','b'])

['a', 'b', 'c']

In [65]:
sorted("zero")

['e', 'o', 'r', 'z']

In [66]:
sorted((3, 2, 1))

[1, 2, 3]

### str

str(object)은 문자열 형태로 객체를 변환하여 리턴하는 함수이다.

In [67]:
str(3)

'3'

In [68]:
str('hi')

'hi'

In [69]:
str('hi'.upper())

'HI'

### sum

sum(iterable)은 입력으로 받은 리스트나 튜플의 모든 요소의 합을 리턴하는 함수이다.

In [70]:
sum([1,2,3])

6

In [71]:
sum((4,5,6))

15

### tuple

tuple(iterable)은 반복 가능한 자료형을 입력받아 튜플 형태로 바꾸어 리턴하는 함수이다. 만약 튜플이 입력으로 들어오면 그대로 리턴한다.

In [72]:
tuple("abc")

('a', 'b', 'c')

In [73]:
tuple([1,2,3])

(1, 2, 3)

In [74]:
tuple((1,2,3))

(1, 2, 3)

### type

tuple(iterable)은 반복 가능한 자료형을 입력받아 튜플 형태로 바꾸어 리턴하는 함수이다. 만약 튜플이 입력으로 들어오면 그대로 리턴한다.

In [75]:
type("abc")

str

In [76]:
type([])

list

In [77]:
type(open("test", 'w'))

_io.TextIOWrapper

### zip

zip(*iterable)은 동일한 개수로 이루어진 자료형을 묶어 주는 역할을 하는 함수이다.
※ 여기서 사용된 *iterable 의 의미는 반복가능(iterable)한 자료형 여러개가 입력으로 가능하다는 의미이다.

In [78]:
list(zip([1,2,3],[4,5,6]))

[(1, 4), (2, 5), (3, 6)]

In [79]:
list(zip([1, 2, 3], [4, 5, 6], [7, 8, 9]))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [80]:
list(zip("abc", "def"))

[('a', 'd'), ('b', 'e'), ('c', 'f')]

### 연습문제

1.다음 결과를 예측하시오

In [81]:
all([1, 2, abs(-3)-3])

False

abs(-3)은 -3의 절대값이므로 3이되어 all([1, 2, 0]) 이 되고 리스트의 요소값중 0이 있기 때문에 all 내장함수의 결과는 False가 된다.

In [82]:
chr(ord('a')) == 'a'

True

2.filter와 lambda: filter와 lambda를 이용하여 [1, -2, 3, -5, 8, -3]라는 리스트에서 음수를 모두 제거하시오.

In [83]:
list(filter(lambda x: x > 0, [1, -2, 3, -5, 8, -3]))

[1, 3, 8]

3.16진수를 10진수로 변환.

234라는 10진수의 16진수는 다음과 같이 구할 수 있다.

hex(234)

'0xea'

이번에는 반대로 '0xea' 라는 16진수 문자열을 10진수로 변경해 보시오. (힌트. 내장함수 int를 활용해 보자.)

In [89]:
int('0xea',16)

234

4.map과 lambda:
map과 lambda를 이용하여 [1, 2, 3, 4] 라는 리스트의 각 요소값에 3이 곱해진 [3, 6, 9, 12]라는 리스트를 만드시오.

In [88]:
list(map(lambda a:a*3, [1,2,3,4]))

[3, 6, 9, 12]

5.최대값과 최소값

다음 리스트의 최대값과 최소값의 합을 구하시오.

[-8, 2, 7, 5, -3, 5, 0, 1]

In [84]:
min([-8, 2, 7, 5, -3, 5, 0, 1])

-8

In [85]:
max([-8, 2, 7, 5, -3, 5, 0, 1])

7

6.소수점 반올림:
    
    17 / 3 의 결과는 다음과 같다:5.666666666666667

위와 같은 결과값 5.666666666666667을 소숫점 4자리까지만 반올림하여 표시하시오.

In [87]:
round(5.666666666666667, 4)

5.6667